<!doctype html>
<html>
   <body>
      <h2 style = "text-align: center">Contact Form</h2>
		
      {% for message in form.name.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      
      {% for message in form.email.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li> {{ message }}</li>
               {% endfor%}
            </ul>
         {% endif %}
      {% endwith %}
      
      <form action = "http://localhost:5000/contact" method = post>
         <fieldset>
            <legend>Contact Form</legend>
            {{ form.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.name.label }}
               <br>
               {{ form.name }}
               <br>
               
               {{ form.gen.label }} 
               {{ form.gen }}
               {{ form.add.label }}
               <br>
               {{ form.add }}
               <br>
               
               {{ form.email.label }}<br>
               {{ form.email }}
               <br>
               
               {{ form.age.label }}<br>
               {{ form.age }}
               <br>
               
               {{ form.language.label }}<br>
               {{ form.language }}
               <br>
               {{ form.sub }}
            </div>
            
         </fieldset>
      </form>
   </body>
</html>